@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f05803;
  --primary-foreground: #ffffff;
  --secondary: #171717;
  --secondary-foreground: #ffffff;
  --muted: #666360;
  --border: #666360;

  --destructive: #ff0033;
  --success: #4caf50;
  --warning: #ff9800;
  --info: #2196f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);

  --font-lato: var(--font-lato);
  --font-montserrat: var(--font-montserrat);
  --font-signature: var(--font-signature);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #190b08;
    --foreground: #ededed;
    --primary: #f05803;
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: #171717;

    --muted: #666360;
    --border: #666360;

    --destructive: #ff0033;
    --success: #4caf50;
    --warning: #ff9800;
    --info: #2196f3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}
